.header {
    width: 1345px;
    height: 900px;
    background-image: url(/images/bg.jpg);
    background-size: 1345px;
    background-position: right;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.header-text {
    font-family: Montserrat;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
    justify-self: flex-end;
    padding-right: 60px;
    padding-top: 35px;
}

.street {
    font-family: Montserrat;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 10px;
    justify-self: flex-end;
    padding-top: 33px;
    padding-right: 20px;
}

.address {
    display: flex;
    flex-direction: column;
    gap: 1px;
    color: #FFFFFF;
}

.number {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    padding-left: 65px;
    padding-top: 28px;
}

.time {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 400;
    padding-left: 60px;
}

.div {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    justify-self: center;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.button-1 {
    background-color: #F2F6FA;
    border-radius: 5px;
    width: 95px;
    height: 30px;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 400;
}

.button-2 {
    background-color: #FED84C;
    color: #2E363E;
    width: 197px;
    height: 65px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 13px;
}

.div-title {
    font-family: Montserrat;
    color: #F2F6FA;
    font-size: 30px;
    font-weight: 900;
    line-height: 40px;
}

.div-text {
    font-family: Montserrat;
    color: #F2F6FA;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    font-size: 18px;
    margin-top: 5px;
}

.button-right-text{
    font-family: Montserrat;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: flex-end;
    color: #FFFFFF;
    padding-left: 25px;
    padding-bottom: 15px;
    line-height: 18px;
    font-size: 10px;
}

.header-bottom-text {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 4;
    align-self: flex-end;
    justify-self: center;
    font-family: Montserrat;
    font-size: 33px;
    font-weight: 900;
    padding-left: 10px;
}

.section-card {
    width: 1345px;
    height: 1295px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

.card-list {
    display: flex;
    gap: 15px;
    list-style-type: none;
    flex-wrap: wrap;
    padding-left: 260px;
    padding-right: 100px;
    padding-top: 60px;
}

.card {
    width: 265px;
    height: 405px;
    margin-bottom: 1px;
    background-color: #FFFFFF;
    border: 1px solid #F2F6FA;
    border-radius: 0 0 5px 5px;
}

.card-image {
    border-radius: 5px 5px 0 0;
    width: 265px;
    height: 170px;
}

.card-title {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    padding-top: 34px;
    padding-left: 30px;
}

.card-text {
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 400;
    padding-top: 11px;
    padding-left: 32px;
    padding-right: 60px;
    line-height: 15px;
}

.card-price {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 900;
    padding-top: 22px;
    padding-left: 35px;
}

.card-button {
    font-family: Montserrat;
    width: 115px;
    height: 47px;
    margin-left: 32px;
    margin-top: 15px;
    font-size: 13px;
    background-color: #FED84C;
    border-radius: 5px;
    border: 0;
}

.TheCreamCastle {
    background-image: url(/images/img\ \(3\).jpg);
    background-position: center;
}

.RaspberryParadise {
    background-image: url(/images/img\ \(2\).jpg);
    background-position: center;
}

.Firework {
    background-image: url(/images/img.png);
    background-position: center;
}

.TheChocolateWorld {
    background-image: url(/images/img\ \(1\).png);
    background-position: center;
}

.TearsDragon {
    background-image: url(/images/img\ \(2\).png);
    background-position: center;
}

.SummerFantasy {
    background-image: url(/images/img\ \(3\).png);
    background-position: center;
}

.CapeMadness {
    background-image: url(/images/img\ \(4\).png);
    background-position: center;
}

.CloudFairyTale {
    background-image: url(/images/img\ \(5\).png);
    background-position: center;
}

.TheDarkKnight {
    background-image: url(/images/img\ \(6\).png);
    background-position: center;
}

.makingAnOrder {
    width: 1345px;
    height: 930px;
    background-color: #081130;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    position: relative;
}

.top-clouds {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 7;
    background-image: url(/images/01\ 1.png);
}

.bottom-clouds {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 7;
    background-image: url(/images/02\ 1\ \(2\).png);
    position: relative;
    z-index: 1;
}

.arm {
    grid-row-start: 2;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 5;
    background-image: url(/images/phone\ 1.png);
    position: relative;
    z-index: 0;
    margin-bottom: 5px;
    margin-top: 10px;
    background-repeat: no-repeat;
}

.informationBlock {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 6;
    color: #FFFFFF;
}

.informationBlock-button-top {
    font-family: Montserrat;
    font-size: 10px;
    margin-top: 97px;
    margin-left: 75px;
    height: 28px;
    width: 160px;
    background-color: #F2F6FA;
}

.informationBlock-title {
    font-family: Montserrat;
    padding-left: 77px;
    padding-top: 17px;
    font-size: 33px;
    font-weight: 500;
    line-height: 42px;
}

.informationBlock-text {
    font-family: Montserrat;
    font-size: 15px;
    padding-left: 77px;
    padding-top: 15px;
    line-height: 20px;
}

.informationBlock-button-bottom {
    font-family: Montserrat;
    font-size: 13px;
    margin-top: 30px;
    margin-left: 75px;
    width: 225px;
    height: 65px;
    background-color: #FED84C;
    border-radius: 5px;
}

.berry {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 6;
    grid-column-end: 7;
    background-image: url(/images/berry\ \(1\).png);
    background-repeat: no-repeat;
    background-position: left;
}

.sheet {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    background-image: url(/images/leaf.png);
    background-repeat: no-repeat;
    margin-top: 30px;
}
























 
.section-3 {
    width: 1345px;
    height: 595px;
}

.section-4 {
    width: 1345px;
    height: 1073px;
}

.footer {
    width: 1345px;
    height: 643px;
    background-color: red;
}