.header {
    width: 100%;
    min-height: 1294px;
    background-position: right;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    position: relative;
    background-image: url(../images/bg.png);
}

.header-image {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 6;
}
.header-text {
    font-family: Montserrat;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 21px;
    justify-self: flex-end;
    padding-right: 70px;
    padding-top: 50px;
}

.icon {
    width: 13px;
    height: 17px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    justify-self: center;
    margin-left: 335px;
    margin-bottom: 148px;
}
.street {
    font-family: Montserrat;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    justify-self: center;
    padding-top: 48px;
    padding-right: 140px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    line-height: 18px;
}

.icon-phone {
    width: 17px;
    height: 17px;
    margin-right: 10px;
}

.address {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #FFFFFF;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: flex-start;
    padding-left: 40px;
    padding-top: 13px;
}

.number {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    padding-left: 65px;
    padding-top: 28px;
    font-style: normal;
}

.time {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    padding-left: 92px;
}

.div {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.button-1 {
    background-color: #F2F6FA;
    border-radius: 5px;
    width: 135px;
    height: 40px;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    align-self: center;
    margin-right: 365px;
    margin-top: 47px;
    border: none;
}

.button-2 {
    background-color: #FED84C;
    color: #2E363E;
    width: 280px;
    height: 93px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    align-self: center;
    margin-right: 220px;
    margin-top: 25px;
    border: none;
}

.div-title {
    font-family: Montserrat;
    color: #F2F6FA;
    font-size: 48px;
    font-weight: 900;
    line-height: 40px;
    line-height: 60px;
    align-self: center;
    padding-top: 10px;
    padding-left: 95px;
}

.div-text {
    font-family: Montserrat;
    color: #F2F6FA;
    font-weight: 400;
    line-height: 34.32px;
    font-size: 24px;
    margin-top: 5px;
    align-self: center;
    padding-right: 40px;
    padding-top: 3px;
}

.button-right-text{
    font-family: Montserrat;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: flex-end;
    color: #FFFFFF;
    padding-left: 50px;
    padding-bottom: 30px;
    line-height: 24px;
    font-size: 15px;
}

.header-bottom-text {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 4;
    align-self: flex-end;
    justify-self: center;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    padding-left: 40px;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.section-card {
    align-self: center;
    min-width: 1180px;
    min-height: 1926px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

.card-list {
    display: flex;
    gap: 20px;
    list-style-type: none;
    flex-wrap: wrap;
    padding-left: 370px;
    padding-right: 200px;
    padding-top: 80px;
}

.card {
    width: 380px;
    min-height: 582px;
    margin-bottom: 1px;
    background-color: #FFFFFF;
    border: 1px solid #F2F6FA;
    border-radius: 0 0 5px 5px;
}

.card-image {
    border-radius: 5px 5px 0 0;
    width: 380px;
    height: 245px;
}

.card-title {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 42px;
}

.card-text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 60px;
    line-height: 24px;
}

.card-price {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    padding-top: 27px;
    padding-left: 42px;
}

.card-button {
    font-family: Montserrat;
    width: 163px;
    height: 68px;
    margin-left: 43px;
    margin-top: 20px;
    font-size: 18px;
    background-color: #FED84C;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    border: none;
}

.TheCreamCastle {
    background-image: url(../images/img\ \(16\).png);
    background-position: center;
}

.RaspberryParadise {
    background-image: url(../images/img\ \(17\).png);
    background-position: center;
}

.Firework {
    background-image: url(../images/img\ \(18\).png);
    background-position: center;
}

.TheChocolateWorld {
    background-image: url(../images/img\ \(19\).png);
    background-position: center;
}

.TearsDragon {
    background-image: url(../images/img\ \(20\).png);
    background-position: center;
}

.SummerFantasy {
    background-image: url(../images/img\ \(21\).png);
    background-position: center;
}

.CapeMadness {
    background-image: url(../images/img\ \(22\).png);
    background-position: center;
}

.CloudFairyTale {
    background-image: url(../images/img\ \(23\).png);
    background-position: center;
}

.TheDarkKnight {
    background-image: url(../images/img\ \(24\).png);
    background-position: center;
}

.makingAnOrder {
    width: 100%;
    min-height: 1352px;
    background-color: #081130;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    position: relative;
}

.top-clouds {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 7;
    background-image: url(../images/01\ 1\ \(1\).png);
}

.bottom-clouds {
    margin-top: 52px;
    grid-row-start: -1;
    grid-row-end: -3;
    grid-column-start: 1;
    grid-column-end: 7;
    background-image: url(../images/02\ 1\ \(3\).png);
    position: relative;
    z-index: 1;
}

.arm {
    grid-row-start: 2;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 5;
    background-image: url(../images/phone\ 1\ \(2\).png);
    position: relative;
    z-index: 0;
    margin-bottom: 5px;
    margin-top: 10px;
    background-repeat: no-repeat;
}

.informationBlock {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 7;
    color: #FFFFFF;
}

.informationBlock-button-top {
    font-family: Montserrat;
    font-size: 11px;
    margin-top: 60px;
    margin-left: 145px;
    height: 37px;
    width: 226px;
    background-color: white;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    
}

.informationBlock-title {
    font-family: Montserrat;
    padding-left: 142px;
    padding-top: 25px;
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
}

.informationBlock-text {
    font-family: Montserrat;
    font-size: 21px;
    font-weight: 400;
    padding-left: 145px;
    padding-top: 20px;
    line-height: 30px;
}

.informationBlock-button-bottom {
    font-family: Montserrat;
    font-size: 18px;
    margin-top: 43px;
    margin-left: 145px;
    width: 320px;
    height: 88px;
    background-color: #FED84C;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}

.berry {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 6;
    grid-column-end: 7;
    background-image: url(../images/berry\ \(1\).png);
    background-repeat: no-repeat;
    background-position: left;
}

.sheet {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    background-image: url(../images/leaf.png);
    background-repeat: no-repeat;
    margin-top: 30px;
}

.questions {
    width: 100%;
    min-height: 830px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    margin-top: 10px;
}

.questions-image {
    border-radius: 50%;
    width: 580px;
    height: 580px;
    background-color: #FED84C;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 8;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 15px;
    background-position: center, bottom;
    background-repeat: no-repeat;
    background-image: url(../images/woman\ 2\ \(2\).png);
}

.questions-text {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 7;
}

.text-blok {
    font-family: Montserrat;
    font-size: 11px;
    padding-top: 10px;
    margin-left: 55px;
    text-align: center;
    width: 200px;
    height: 37px;
    background-color: #F2F6FA;
    border-radius: 5px;
}

.questions-title {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 900;
    padding-left: 60px;
    color: #2E363E;
    line-height: 60px;
}

.questions-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 18px;
    padding-left: 82px;
    padding-top: 35px;
    line-height: 27px;
}

.questions-list-item::marker {
    color: #5D6AFB;
    font-size: 15px;
}

.questions-button {
    margin-top: 52px;
    margin-left: 60px;
    width: 299px;
    height: 88px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    background-color: #FED84C;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.reviews {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 1073px;
}

.reviews-title {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
}

.reviews-text {
    font-family: Montserrat;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin-top: 10px;
}

.reviews-list {
    justify-content: center;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 60px;
}

.reviews-card {
    width: 615px;
    height: 430px;
}

.footer {
    margin-top: 2px;
    width: 100%;
    height: 912px;
    background-color: #081130;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr)
}

.cloud {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 7;
}

.form {
    background-color: #FFFFFF;
    margin-top: -22px;
    margin-left: 62px;
    width: 1180px;
    height: 394px;
    grid-column-start: 2;
    grid-column-end: 6;
    border-radius: 5px;
    border: none;
}

.form-title {
    font-family: Montserrat;
    font-size: 38px;
    font-weight: 700;
    padding-top: 71px;
    text-align: center;
}

.form-text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 21px;
    padding-top: 15px;
    text-align: center;
    padding-left: 10px;
}

.input {
    width: 380px;
    height: 85px;
    background-color: #F2F6FA;
    border: none;
    margin-top: 40px;
    margin-left: 200px;
    font-size: 15px;
    font-weight: 400;
    padding-left: 62px;
    border-radius: 5px;
}

.form-button {
    margin-top: 29px;
    margin-left: 20px;
    width: 380px;
    height: 86px;
    font-size: 18px;
    background-color: #FED84C;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-list {
    display: flex;
    list-style-type: none;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-column-end: 5;
    align-self: flex-end;
    text-decoration: none;
    font-size: 12px;
    color: #7E868E;
    gap: 38px;
    margin-left: 25px;
    margin-bottom: 10px;
}

.footer-text {
    font-size: 12px;
    color: #7E868E;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-column-end: 6;
    margin-top: 15px;
    margin-left: 85px;
}